.about-page{
  background-color: var(--offWhite);
  height: 100vh;
  width: 100%;
  padding: 20vh 0px;
  
}

.bio{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.bio-text{
  padding: 0;
  margin: 0px;
}

.row{
width: 1130px;
max-width: 95%;
margin: 0 auto;
display: flex;
align-content: space-around;
}

.column img{

height: auto;
width: 420px;}

.column{
  width: 550px; 
}


