.about-page{
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--mainpink);
  height: 400vh;
  width: 100%;
}

h1{
  width: 25%;
  text-align: center;
  top: 0vh;
  font-weight: 700;
  margin-bottom: 80px;
}

.about-content{
  top: 0px;
  padding: 20vh 0px;
  display:flex;
  flex-direction: column;
}

/* Container for the grid */
.about-page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Set the height of the container to 100% of viewport height */
}

/* Grid container */
.grid-container {
  top: 0px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 1rem; /* Gap between grid items */
  max-width: 800px; /* Set max-width for the grid container */

}


/* Grid item */
.grid-item {
  
  display: flex;
  height: 70vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  text-align: center;
  margin-bottom: 40px;
 z-index: 0;
 

}


/* Image in grid item */
.grid-item img {
  max-width: auto; /* Set max-width for the image to 100% */
  max-height: 85%;
  border-radius: 10px;

}

.grid-item h4{
  margin-top: 30%;
  height : 10vh;
 
}


.vid-container {
  display: flex;
  position: relative;
  margin-bottom: 20px;
}

.bio-vid {
  position: relative;
  bottom: 0; /* Update top to bottom to position the video element at the bottom of the container */
  left: 0;
  height: 100vh;
  margin: 0;
  object-fit: cover;
}

.bio-text{
  text-align: left;
}
