*
{
    margin-top: 0;
    margin-left: 25%;
    padding: 0;
}


.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}



.section
{
    position: absolute;
    width: 100px;
    height: 100vh;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    font-size: 7vmin;
    margin-left: 11rem;;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

 #hero-overlay-text{
  position:fixed;
  top:0;
  
  


}

.est{
  text-align: left;
  font-weight: 400;
  font-size: 30px;
  top: 0vh;
  width: 8vw;
  left: 0rem;

} 

.slogan{
  width: 25%;
  text-align: left;
  top: 30vh;
  font-weight: 700;
}


/* INSTAFEED */
.ig-container{
  background-color: var(--offWhite);
  text-align: center;
  height: 60vh;
  padding-left: 20%;
  padding-right: 20%;
}

.ig-grid{
  display: flex;
  top: 20px;
  align-items: center;
}

.ig-handle{
  padding: 20px;
  height: 20px;
  width: 100%;
  background-color: var(--offWhite);
}

.ig-pic{

 padding: 10px;
 height: 30vh;
 width: 30vw;
}

/* MINIBIO */

.bio-background{

  display: flex;
  height: 60vh;
  width: 100%;
  background: url('./frankie-sig.png')center center repeat;
    
}

.bio-content{
  display: flex;
  flex-direction: row;
}

.bio-column1{
  display: flex;
  flex-direction: column;
  padding: 50px;
  text-align: left;
}

.bio-heading{
  font-size: 50px;
  margin-bottom: 20px;
}

.bio-p{
  margin-bottom: 20px;
}

.bio-button{
background-color: #21b0d0;
border-radius: 50px;
color: var(--offWhite);
border-style: none;
width: 200px;
height: 160px;

}

feature-background {
  background-color: var(--offWhite);

}

.feature-display {
  width: 50px;
  height: 50px;
  background-color: var(--offWhite);
}