*
{
    margin-top: 0;
    margin-left: 0;
    padding: 0;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
}

.section
{
    position: absolute;
    width: 100px;
    height: 100vh;
    top:0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    text-transform: uppercase;
    font-size: 5vmin;
    margin-left: 11rem;;
}

section:nth-child(odd)
{
    justify-content: flex-end;
}

 #hero-overlay-text{
  position:fixed;
  top:0;

}

.est{
  text-align: left;
  font-weight: 400;
  font-size: 20px;
  top:15vh;
  width: 8vw;
  left: -1rem;

} 

.slogan{
  width: 25%;
  text-align: left;
  top: 30vh;
  font-weight: 700;
}


/* INSTAFEED */
.ig-container{
  background-color: #FFB7D2;
  text-align: center;
  height: 40vh;
  padding-left: 20%;
  padding-right: 20%;
  margin-bottom: 80px;
}

.ig-grid{
  display: flex;
  top: 20px;
  align-items: center;
}

.ig-handle{
  margin-top: 80px;
  height: 20px;
  width: 100%;
  background-color: #FFB7D2;
}

.ig-pic{
 padding: 10px;
 height: 30vh;
 width: 30vw;
}

img{
  border-radius: 10px;
}

/* MINIBIO */

.bio-background{
margin-top: 80px;
  display: flex;
  height: 60vh;
  width: 100%;
  /* background: url('./frankie-sig.png')center center repeat; */
    
}

.bio-content{
  display: flex;
  flex-direction: row;
  height: 400px;
  margin: 40px;
}

.bio-column1{
  display: flex;
  flex-direction: column;
  padding: 30px;
  text-align: left;
}

.mini_bio_img{
  width: auto;
  margin-left: 300px;
  border-radius: 10px;
}

.mini-bio-heading{
  top:0;
  width: auto;
  text-align: left;

}

.bio-heading{
  font-size: 30px;
  margin-bottom: 20px;
  text-align: left;
}

.bio-p{
  margin-bottom: 20px;
  width: 350px;
}

.bio-button{
    background-color: #000000;
    color:#FFF4F8;
    width: 150px;
    border-radius: 10px;
    height: 40px;
    border: none;
    padding:10px;
}
  
  .bio-button:hover{
    background-color: #fff;
    color:#000000;
    transition: 3000;
  }
  


.videoGallery{
  width: 100vw;
  
}