.footer-padding{
  padding: 4rem 4rem;
}

.footer{
  /* position: relative; */
  display: flex;
  flex-direction: column;
  height: 20rem;
  text-decoration: none;
  color: #000000;
  background-color: var(--offWhite);
  flex-grow: 0;
}

.footer .footer-bottom{
  /* position: absolute; */
  bottom: 0px;
  
}

.footer-links{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  text-align: left;
  margin-bottom: 2rem;

}

.footer-links-div{
  width: 150px;
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;

}

a{
  text-decoration: none;
  color:#000000;
}

.footer-links-div{
  font-size: 14px;
  line-height: 16px;
  margin: 0.5rem 0;
  cursor: pointer;
}

.footer-copyright p{
 font-size: 14px;
 line-height: 16px;
 font-weight: 600;
}



@media screen and (max-width: 850px){
  .footer-logo h3{
    font-size: 34px;
    line-height: 50px;
  }

}

@media screen and (max-width: 550px){
  .footer-logo h3{
    font-size: 34px;
    line-height: 42px;
  }
  
  .footer-links div{
    margin: 1rem 0;
  }

}


@media screen and (max-width: 400px){
  .footer-heading h3{
    font-size: 27px;
    line-height: 38px;
  }
}

/* .footer-gradient{
  position: flex;
  bottom: 0;
  background-color: linear-gradient(to right, pink , skyblue);
  height: 20px;
} */